<launch>
    <arg name="namespace" default="iris_0"/>

    <node name="trajectory_executor_$(arg namespace)" pkg="eh_traj" type="trajectory_executor.py" output="screen">
        <param name="namespace" value="$(arg namespace)" />
        <param name="takeoff_height" value="1.5" />
        <param name="max_velocity" value="1.0" />
        <param name="goal_tolerance" value="0.4" />
        <param name="control_rate" value="20.0" />
    </node>
</launch>
