<launch>
    <arg name="ns"  default="" doc="Namespace for the master UAV, controlled via ROS topics."/>
    <arg name="waypoints_file" default="$(find eh_traj)/waypoints.yaml" doc="Path to the waypoints configuration file."/>

    <include file="$(find eh_traj)/launch/executor.launch">
        <arg name="namespace" value="$(arg ns)" />
    </include>

    <node name="dual_uav_tcp_planner" pkg="eh_traj" type="dual_uav_tcp_planner.py" output="screen">
        <param name="ns"  value="$(arg ns)" />

        <rosparam command="load" file="$(arg waypoints_file)" />
    </node>

    <node name="servo_trigger_node" pkg="eh_traj" type="servo_trigger_node.py" output="screen">
        <param name="namespace" value="$(arg ns)" /> <param name="target_count" value="12" />   
    
    </node>


</launch>
